<!DOCTYPE html>
<html>

<body>
    <h1 style="height:80px;background-color:Tomato;text-align: right; word-spacing: 15px;">
        <a href="./index.php" style="color: white; ">Home</a>
        <a href="About.php" style="color: white;">About</a>
        <a href="Contact.php" style="color: white;">Contact</a>
        <a href="../controller/logout.php" style="color:white;">LogOut</a>
   </h1>
    <from>
        <fieldset>
            <legend>Contacts Us</legend>
            <a href="facebook.com">Facebook</a> <br>
            <a href="facebook.com">Instagram</a> <br>
            <a href="facebook.com">Twitter</a>
            
        </fieldset>
    </from>
</body>

</html>