<!DOCTYPE html>
<html>
<head>
	
	<title>HOME</title>
</head>
<body>
    <h1 style="height:80px;background-color:Tomato;text-align: right; word-spacing: 15px;">
        <a href="../controller/logout.php" style="color:white;">LogOut</a>
     </h1>
	<h1 align="center">WELCOME TO TRAVEL MANAGEMENT</h1>

   <h3 align="center"> Please choose your option<h3> 
   <div align="center"><a  href="train.php"> TRAIN </a>
</div>
 <div align="center"><a  href="bus.php"> BUS </a>
</div>
    <div align="center"><a  href="ship.php"> SHIP </a>
</div>
<div align="center"><a  href="plane.php"> PLANE </a>
</div>


</body>
</html>